/*.stop button {*/
/*margin-left: 100px;*/
/*}*/

/*https://stackoverflow.com/questions/16387400/getting-the-right-font-size-on-every-mobile-device/16387418?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa*/
/* ipad */
@media only screen and (max-width: 768px) {
    .timer-text-large {
        font-size: 150px !important;
    }
}

/*phone*/
@media only screen and (max-width: 320px) {
    .timer-text-large {
        font-size: 100px !important;
    }
}

.message-top {
    position: fixed;
    top: 80px;
    left: 20%;
    width: 50%;
}

.alert {
    display: none;
}